*.o
*.so

###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
*.ide-wal
*.ide-shm
*.ide
ClientRoot/output/
ClientRoot/Assets/TouchDirectionInterface.cs.rej
ClientRoot/Assembly-CSharp_REMOTE_25988.csproj
ClientRoot/Assembly-CSharp_LOCAL_25988.csproj
ClientRoot/Assembly-CSharp_BASE_25988.csproj
ClientRoot/Assembly-CSharp_BACKUP_25988.csproj
ClientRoot/.vs/Assembly-CSharp/v15/Server/sqlite3/db.lock
